@page "/admin/author/{pageid?}"
@model AdminAuthorModel
@using OrzhansJozve.Utilities
@{
    ViewData["Title"] = "نویسندگان";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<!-- Author -->
@if (Model.Message != null)
{
    <div>
        <div class="showsuccess"><div class="bginfo actionIcon addbtnaction"> <i class="fa fa-check actionIcon2"></i>@Model.Message</div></div>
    </div>
}
<div>
    <div class=""><a asp-page="AdminAddAuthor" class="bginfo actionIcon addbtnaction"> <i class="fa fa-plus-circle actionIcon2"></i>افزودن نویسنده جدید</a></div>
</div>
<section class="last-news-section border-radius">
    <header><i class="fa fa-book adminicon"></i>  <h3>آخرین  نویسندگان</h3> </header>
    @if (Model.AuthorsList.Count != 0)
    {
        <ul>
            @foreach (var item in Model.AuthorsList)
            {

                <li class="admin-author-fild">
                    <div>
                        <div>
                            <img loading="lazy" class="admin-mobile-author-image border-radius admin-author-img boxshadow author-img-admin-panel col-12" src="~/Blog-Content/Author-Images/@item.AuthorImageUrl">
                        </div>
                        <div class="col-lg-9">
                            <div class="boxshadow admin-author-name">
                                <h2 class="color-white">نام نویسنده : @item.AuthorName</h2>
                            </div>
                            <div class="boxshadow admin-author-short-description">
                                <p class="admin-author-short-description-text pad0 color-white"><span class="color-white">توضیح کوتاه :</span></p>
                                <p class="text-right pad0 color-white">@item.AuthorShortDescription</p>
                            </div>
                            <div class="boxshadow admin-author-birthday">
                                <p class="pad0 admin-author-birthday-text color-white"><span class="color-white">تاریخ تولد نویسنده :</span> @item.AuthorBirthday</p>
                            </div>
                            <div class="boxshadow admin-author-date">
                                <div class="date-publish cleardatepossition centertext color-white"><i class="fa fa-calendar"></i> انتشار : @item.AuthorCreateDate.ToShamsi() </div>
                            </div>
                            <div class="row margin-top-20 centertext">
                                <div class="col-xs-12 col-md-6"><a asp-page="AdminEditAuthor" asp-route-id="@item.AuthorId" class="bgwarning actionIcon articelactionicon"><i class="fa fa-book actionIcon2"></i>ویرایش</a></div>
                                <div class="col-xs-12 col-md-6"><a asp-page-handler="Delete" asp-route-id="@item.AuthorId" class="bgred actionIcon articelactionicon"><i class="fa fa-trash actionIcon2"></i>حذف</a></div>
                            </div>
                        </div>
                    </div>
                </li>

            }
        </ul>
    }
    else
    {
        <ul><li class="centertext"><i class="fa fa-comment"></i> متاسفانه نویسنده ای وجود ندارد <i class="fa fa-comment"></i></li></ul>
    }
</section>
@if (Model.AuthorsList.Count != 0)
{
    <div class="row text-center">
        <nav>
            <ul class="pagination">
                @if (((int)ViewData["PageID"]) != 1)
                {
                    <li class=""><a aria-label="Previous" asp-route-pageid="@((int)ViewData["PageID"] - 1)"><span aria-hidden="true">«</span></a></li>
                }
                else
                {
                    <li class="disabled"><a aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                }
                @if (((int)ViewData["PageID"] > 3))
                {
                    @for (int i = ((int)ViewData["PageID"]) - 2; i <= ((int)ViewData["PageCount"]); i++)
                    {
                        <li class="@(((int)ViewData["PageID"]==i)?"active":"")"><a asp-route-pageid="@i">@i<span class="sr-only">(current)</span></a></li>
                        @if (i == ((int)ViewData["PageID"]) + 2)
                        {
                            break;
                        }
                    }
                }
                else
                {
                    @for (int i = 1; i <= ((int)ViewData["PageCount"]); i++)
                    {
                        <li class="@(((int)ViewData["PageID"]==i)?"active":"")"><a asp-route-pageid="@i">@i<span class="sr-only">(current)</span></a></li>
                        @if (i == ((int)ViewData["PageID"]) + 4)
                        {
                            break;
                        }
                    }
                }

                @if (((int)ViewData["PageID"]) != ((int)ViewData["PageCount"]))
                {
                    <li><a aria-label="Next" asp-route-pageid="@((int)ViewData["PageID"] + 1)"><span aria-hidden="true">»</span></a></li>
                }
                else
                {
                    <li class="disabled"><a aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                }
            </ul>
        </nav>
    </div>
}
<!-- End Author -->
