@page "/admin/mastergroup/{pageid?}"
@model AdminMasterGroupModel
@using OrzhansJozve.Utilities
@{
    ViewData["Title"] = "سرگروه ها";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<!-- MasterGroup -->
@if (Model.Message != null)
{
    <div>
        <div class="showsuccess"><div class="bginfo actionIcon addbtnaction"> <i class="fa fa-check actionIcon2"></i>@Model.Message</div></div>
    </div>
}
<div>
    <div class=""><a asp-page="AddMasterPageGroup" class="bginfo actionIcon addbtnaction"> <i class="fa fa-plus-circle actionIcon2"></i>افزودن سرگروه جدید</a></div>
</div>
<section class="last-news-section border-radius">
    <header><i class="fa fa-book adminicon"></i>  <h3>آخرین  سرگروه ها</h3> </header>
    @if (Model.MasterPageGroups.Count != 0)
    {
        <ul>
            @foreach (var item in Model.MasterPageGroups)
            {

                <li class="admin-author-fild">
                    <div class="boxshadow admin-author-name"><h2 class="color-white">عنوان سرگروه : @item.MasterPageGroupTitle</h2></div>
                    <div class="boxshadow admin-author-short-description"><p class="margin-top-20 color-white">شماره نمایش در صفحه : @item.ShowInMenuNumber</p></div>
                    <div class="boxshadow admin-author-date">
                        <div class="date-publish cleardatepossition centertext color-white"><i class="fa fa-calendar"></i> انتشار : @item.MasterPageGroupCreateDate.ToShamsi()</div>
                    </div>
                    <div class="row margin-top-20 centertext">
                        <div class="col-xs-12 col-md-6"><a asp-page="AdminEditMasterPageGroup" asp-route-id="@item.MasterPageGroupId" class="bgwarning actionIcon articelactionicon"><i class="fa fa-book actionIcon2"></i>ویرایش</a></div>
                        <div class="col-xs-12 col-md-6"><a asp-page-handler="Delete" asp-route-id="@item.MasterPageGroupId" class="bgred actionIcon articelactionicon"><i class="fa fa-trash actionIcon2"></i>حذف</a></div>
                    </div>
                </li>

            }
        </ul>
    }
    else
    {
        <ul><li class="centertext"><i class="fa fa-book"></i> متاسفانه سرگروهی وجود ندارد <i class="fa fa-book"></i></li></ul>
    }
</section>
@if (Model.MasterPageGroups.Count != 0)
{
    <div class="row text-center">
        <nav>
            <ul class="pagination">
                @if (((int)ViewData["PageID"]) != 1)
                {
                    <li class=""><a aria-label="Previous" asp-route-pageid="@((int)ViewData["PageID"] - 1)"><span aria-hidden="true">«</span></a></li>
                }
                else
                {
                    <li class="disabled"><a aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                }
                @if (((int)ViewData["PageID"] > 3))
                {
                    @for (int i = ((int)ViewData["PageID"]) - 2; i <= ((int)ViewData["PageCount"]); i++)
                    {
                        <li class="@(((int)ViewData["PageID"]==i)?"active":"")"><a asp-route-pageid="@i">@i<span class="sr-only">(current)</span></a></li>
                        @if (i == ((int)ViewData["PageID"]) + 2)
                        {
                            break;
                        }
                    }
                }
                else
                {
                    @for (int i = 1; i <= ((int)ViewData["PageCount"]); i++)
                    {
                        <li class="@(((int)ViewData["PageID"]==i)?"active":"")"><a asp-route-pageid="@i">@i<span class="sr-only">(current)</span></a></li>
                        @if (i == ((int)ViewData["PageID"]) + 4)
                        {
                            break;
                        }
                    }
                }

                @if (((int)ViewData["PageID"]) != ((int)ViewData["PageCount"]))
                {
                    <li><a aria-label="Next" asp-route-pageid="@((int)ViewData["PageID"] + 1)"><span aria-hidden="true">»</span></a></li>
                }
                else
                {
                    <li class="disabled"><a aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                }
            </ul>
        </nav>
    </div>
}
<!-- End MasterGroup -->
