@page "/search"
@model ArticelSearchModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    ViewData["Title"] = $"{Model.Query}";
}

@inject OrzhansJozve.DataLayer.Repositories.IPageRepository _pageService
@inject OrzhansJozve.DataLayer.Repositories.IPageGroupRepository _pageGroupService
@inject OrzhansJozve.DataLayer.Repositories.IAuthorRepository _authorService
@inject OrzhansJozve.DataLayer.Repositories.ICommentRepository _commentService
@inject OrzhansJozve.DataLayer.Repositories.IAdsRepository _iadsRepository
@using OrzhansJozve.Utilities
<!-- Header Area End Here -->
<!-- Inne Page Banner Area Start Here -->
<section class="fix">
    <div id="particles-js">
    </div>
    <div class="text-center bg-top">
        <h1 class="text-white mag-header p-5 p-lg-0" title="اورژانس جزوه">
            " اورژانس جزوه انعکاس دهنده <br> <br>  اخبار و اتفاقات دنیای دانشجویی " <br>
        </h1>
        <div class="text-center">
            <div class="text-center myRow col-12 mt-5">
                <div class="col-4" title="اخبار">
                    <div class="far fa-file-alt text-white iconfont"></div>
                    <div class="text-white mt-4 iconTextFont">اخبار</div>
                    <div class="text-white mt-4 iconTextFont">@_pageService.GetAllPageAcceptNumber()</div>
                </div>
                <div class="col-4" title="بازدید">
                    <div class="fas fa-eye text-white iconfont"></div>
                    <div class="text-white mt-4 iconTextFont">بازدید</div>
                    <div class="text-white mt-4 iconTextFont">@((_pageService.GetAllPageViewer()).ToKNumber())</div>
                </div>
                <div class="col-4" title="نویسندگان">
                    <div class="far fa-address-card text-white iconfont"></div>
                    <div class="text-white mt-4 iconTextFont">نویسندگان</div>
                    <div class="text-white mt-4 iconTextFont">@_authorService.GetAllAuthorNumber()</div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Inne Page Banner Area End Here -->
<!-- Blog Area Start Here -->
<section class="blog-wrap-layout5">
    @if (_iadsRepository.TopAdsExist())
    {
        @await Component.InvokeAsync("TopAdsComponent")
    }
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="row">
                    @if (Model.Pages.Count != 0)
                    {
                        @foreach (var item in Model.Pages)
                        {
                            <div class="col-xl-6 col-lg-12 col-md-6 col-12">
                                <div class="blog-box-layout7">
                                    <div class="item-img background-shadow rounded-top">
                                        <a asp-page="ArticelPage" asp-route-pageId="@item.PageId" asp-route-title="@item.PageTitle.Trim().Replace(" ", "-").ToString()"><img loading="lazy" src="~/Blog-Content/Articel-Images/@item.PageSecondImageUrl" alt="@item.PageTitle" class="articel-img rounded-top"></a>
                                    </div>
                                    <div class="item-content">
                                        <a asp-page="Index" asp-page-handler="PageGroup" asp-route-query="@_pageGroupService.SelectById(item.PageGroupId).PageGroupTitle" class="text-decoration-none"><div class="item-category gradient-accent">@_pageGroupService.SelectById(item.PageGroupId).PageGroupTitle</div></a>
                                        <h3 class="item-title text-justify title-line">
                                            <a asp-page="ArticelPage" asp-route-pageId="@item.PageId" asp-route-title="@item.PageTitle.Trim().Replace(" ", "-").ToString()">
                                                @item.PageTitle
                                            </a>
                                        </h3>
                                        <ul class="entry-meta">
                                            <li title="نویسنده : @_authorService.SelectById(item.AuthorId).AuthorName"><i class="far fa-user-circle"></i><a class="text-decoration-none author-color" asp-page="ArticelSearch" asp-route-s="@_authorService.SelectById(item.AuthorId).AuthorName.Replace(" ","-")">@_authorService.SelectById(item.AuthorId).AuthorName</a></li>
                                            <li title="تاریخ انتشار : @item.PageCreateDate.ToShamsi()"><i class="far fa-clock"></i><a class="text-decoration-none author-color" asp-page="ArticelSearch" asp-route-s="@item.PageCreateDate.ToShamsi().Replace(" ","-")">@item.PageCreateDate.ToShamsi()</a></li>
                                        </ul>
                                        <p class="text-justify small-des-line">
                                            @item.PageShortDiscription
                                        </p>
                                        <div class="action-area">
                                            <a asp-page="ArticelPage" asp-route-pageId="@item.PageId" asp-route-title="@item.PageTitle.Trim().Replace(" ", "-").ToString()" class="item-btn">
                                                ادامه مطلب<i class="fas fa-arrow-circle-right"></i>
                                            </a>
                                            <div>
                                                <span class="item-comment ml-5">
                                                    <i class="far fa-comment-dots"></i>@_commentService.GetAllCommentByPageNumber(item.PageId).ToKNumber()
                                                </span>
                                                <span class="item-comment"><i class="far fa-eye"></i>@((item.PageView.ToKNumber()))</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="text-center mt-5 w-100"><h2>هیچ خبری یافت نشد</h2></div>
                    }
                </div>
                <div class="pagination-layout1">
                    @if (Model.Pages.Count != 0)
                    {
                        <div class="text-center">
                            <nav>
                                <ul class="pagination d-inline-block">
                                    @if (((int)ViewData["PageID"]) != 1)
                                    {
                                        <li class=""><a aria-label="Previous" asp-route-s="@Model.Query" asp-route-pageId="@((int)ViewData["PageID"] - 1)"><span aria-hidden="true">«</span></a></li>
                                    }
                                    @if (((int)ViewData["PageID"] > 3))
                                    {
                                        @for (int i = ((int)ViewData["PageID"]) - 2; i <= ((int)ViewData["PageCount"]); i++)
                                        {
                                            <li><a class="@(((int)ViewData["PageID"]==i)?"active background-shadow":"")" asp-route-s="@Model.Query" asp-route-pageId="@i">@i<span class="sr-only">(current)</span></a></li>
                                            @if (i == ((int)ViewData["PageID"]) + 2)
                                            {
                                                break;
                                            }
                                        }
                                    }
                                    else
                                    {
                                        @for (int i = 1; i <= ((int)ViewData["PageCount"]); i++)
                                        {
                                            <li><a class="@(((int)ViewData["PageID"]==i)?"active background-shadow":"")" asp-route-s="@Model.Query" asp-route-pageId="@i">@i<span class="sr-only">(current)</span></a></li>
                                            @if (i == ((int)ViewData["PageID"]) + 4)
                                            {
                                                break;
                                            }
                                        }
                                    }

                                    @if (((int)ViewData["PageID"]) != ((int)ViewData["PageCount"]))
                                    {
                                        <li><a aria-label="Next" asp-route-s="@Model.Query" asp-route-pageId="@((int)ViewData["PageID"] + 1)"><span aria-hidden="true">»</span></a></li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-4 col-12 sidebar-widget-area sidebar-break-md">
                <div class="widget widget-search-box rounded-lg">
                    <form method="get" asp-page-handler="Search">
                        <div class="input-group stylish-input-group p-0 pr-3">
                            <input type="text" name="s" class="form-control" placeholder="@Model.Query">
                            <span class="input-group-addon">
                                <button type="submit" asp-page-handler="Search" class="p-3 ml-1">
                                    <span class="flaticon-magnifying-glass" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <partial name="MostVisitedPageGroupPartial" />
                <partial name="LatestArticelPartial" />
                <partial name="TopArticelPartial" />
            </div>
        </div>
    </div>
</section>
<!-- Blog Area End Here -->
@if (_iadsRepository.DownAdsExist())
{
    @await Component.InvokeAsync("DownAdsComponent")
}
@section Scripts{
    <script src="https://www.google.com/recaptcha/api.js?render=@Configuration["googleReCaptcha:SiteKey"]"></script>
    <script>
    grecaptcha.ready(function() {
        grecaptcha.execute('@Configuration["googleReCaptcha:SiteKey"]', { action: 'contact' }).then(function (token) {
            $("#captchaInput").val(token);
        });
    });
    </script>
}
@section meta{
    <meta name="robots" content="index,follow">
}
@section SearchGoogleAnalitics{
    ga('send', 'pageview', '@($"/?s={Model.Query}")');
}
